@page "/vistaOrganismo"
@inject SweetAlertService Sweet;
@inject TituloService tituloService;
@inject IOrganismoService orgService;
@inject IPersonalService perService;
@inject IEstadoAcreditacionService acreService;

<section class="ContenedorGeneral">

    <h5 class="indice">Inicio > Administracion de Organismos</h5>

    <section class="ContenidoPrincipal">

        <div class="barra">

            <div class="opciones">

                @* Apartado de Opciones mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloOpciones">
                    <p>Opciones para el organismo</p>
                </div>

                <div class="botonesOpciones">

                    <button class="agregar" @onclick="@(()=> ShowModal(0))"><i class="bi bi-plus-circle"></i> Agregar</button>

                    <button class="informe"><i class="bi bi-file-earmark-plus"></i> Reporte</button>

                </div>

                <div class="tituloOpciones">
                    <p>Buscador</p>
                </div>

                <input type="text" @bind="valorBusqueda" @oninput="CargarOrganismosBuscados" class="buscador" placeholder="Buscar Registro" />

                @* <div class="botonesOpciones" style="margin-top: 15px; margin-bottom: 0px;">

                <button class="agregar" @onclick="@(()=> ShowModal(0))"><i class="bi bi-plus-circle"></i> Agregar</button>

                <button class="informe"><i class="bi bi-file-earmark-plus"></i> Reporte</button>

                </div> *@

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

            <div class="filtro">

                @* Apartado de Filtros mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloFiltro">
                    <p>Filtros para el organismo</p>
                </div>

                <div class="contenidoFiltro">

                    <div class="espacioFiltro">

                        <h5>Filtrar por orden:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            <div class="contenCheck">
                                <input @onclick="@(() => OrdenarOrganismos("Ascendente"))" checked="@("Ascendente" == ordenSeleccionada)" type="checkbox" id="checkOrden1" name="checkOrden1" />
                                <label class="nombreCheck" for="checkOrden1">Ascendente</label>
                            </div>

                            <div class="contenCheck">
                                <input @onclick="@(() => OrdenarOrganismos("Descendente"))" checked="@("Descendente" == ordenSeleccionada)" type="checkbox" id="checkOrden2" name="checkOrden2" />
                                <label class="nombreCheck" for="checkOrden2">Descendente</label>
                            </div>

                        </div>

                    </div>

                    <div class="espacioFiltro">

                        <h5>Filtrar por estado:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            @if (listaEstadoAcreditacion != null)
                            {
                                @foreach (var item in listaEstadoAcreditacion)
                                {
                                    <div class="contenCheck">
                                        <input @onclick="@(() => FiltroEstadoAcreditacion(item.IdEstadoAcreditacion))" checked="@(item.IdEstadoAcreditacion == estadoSeleccionado)" type="checkbox" id="@($"check{item.Estados}")" />
                                        <label class="nombreCheck" for="@($"check{item.Estados}")">@item.Estados</label>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No se encontraron los estados</p>
                            }

                        </div>

                    </div>

                    @*<div class="espacioFiltro">

                    <h5>Filtrar por estado:</h5>

                    <div class="contenedorChecks">

                    @* apartado checks 1

                    <div class="contenCheck">
                    <input checked="" type="checkbox" id="" />
                    <label class="nombreCheck" for="">Estado 1</label>
                    </div>

                    </div>

                    </div>*@

                </div>

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

        </div>

        <div class="contenido">

            @* Apartado de Contenido mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            @if (resOrg?.Resultado != null)
            {
                @foreach (var item in resOrg.Resultado)
                {
                    <div class="tarjeta">

                        <div class="perfil">

                            <p>Organismos</p>

                            <div class="estadoIcon color-Acreditado"><i class="bi bi-person-fill-exclamation"></i></div>

                        </div>

                        <div class="extras">

                            <div class="textoExtra miniEspacio">
                                <div class="iconoExtra">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>@item.NombreOIA</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra">
                                    <i class="bi bi-envelope-fill"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p class="correo">@item.Email</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra">
                                    <i class="bi bi-telephone-fill"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>@item.Telefono</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra">
                                    <i class="bi bi-c-circle-fill"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>@item.CodigoUnico</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra">
                                    <i class="bi bi-building-fill-exclamation"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>@item.EstadoAcreditacion?.Estados</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra">
                                    <i class="bi bi-person-circle"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>@item.Responsable</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra">
                                    <i class="bi bi-building-fill-exclamation"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>@item.Personal?.Nombres</p>
                                </div>
                            </div>

                            <div class="textoExtra miniEspacio">

                                <button class="edicion" @onclick="@(() => ShowModal(item.IdOrganismo))"><i class="bi bi-pencil-square"></i> Editar</button>

                                <button class="rechazo" @onclick="(() => ModalLookup(item.IdEstadoAcreditacion))"><i class="bi bi-x-circle"></i> Quitar</button>

                            </div>

                        </div>

                    </div>
                }
            }
            else
            {
                <p>No se encontro resultados</p>
            }


            @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

        </div>

    </section>

    <section class="footer">

        <div class="paginacion">

            <PaginadoOrganismo PaginaActual="@paginaActual"
                               TotalPaginas="@totalPaginas"
                               OnPageChanged="HandlePageChanged">
            </PaginadoOrganismo>

        </div>

    </section>

</section>

@code
{

    // Objetos de modelos mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private APIResponse<List<OrganismoDTO>>? resOrg;
    private List<EstadoAcreditacionDTO>? listaEstadoAcreditacion;
    private List<PersonalDTO> listaPersonalDto;

    // Variables con valores cambiantes mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private int ID1 = 0;
    private int ID2 = 0;
    private string valorOrden = "Descendente";
    private string valorBusqueda = "";
    private string? ordenSeleccionada;
    private int? estadoSeleccionado;

    // Variables para Paginacion mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private int paginaActual = 1;
    private int tamanoPagina = 6;
    private int registrosActuales;
    private int totalPaginas;

    // Modal mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    // MetodoInicializador mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    protected override async Task OnInitializedAsync()
    {
        tituloService.AgregarTitulo("Administracion de Organismos");

        ParametrosPaginacion parametros = new()
            {
                NumeroPagina = 1,
                TamañoPagina = tamanoPagina,
                Orden = "Ascendente",
                Buscar = valorBusqueda,
                ID1 = ID1,
                ID2 = ID2
            };



        await CargarPagina(paginaActual, 0, 0, "Ascendente");
        var r = await perService.MostrarPersonal(parametros);

        listaPersonalDto = r.Resultado;
        listaEstadoAcreditacion = await acreService.MostrarEstadoAcreditacion();
    }

    // Metodos Generales mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private async Task OrdenarOrganismos(string valor)
    {
        if (ordenSeleccionada == valor)
        {
            ordenSeleccionada = null;
        }
        else
        {
            ordenSeleccionada = valor;
        }

        await CargarPagina(paginaActual, ID1, ID2, valor);
        valorOrden = valor;
    }

    private async Task FiltroEstadoAcreditacion(int valor)
    {
        if (estadoSeleccionado == valor)
        {
            estadoSeleccionado = null;
            valor = 0;
        }
        else
        {
            estadoSeleccionado = valor;
        }

        await CargarPagina(paginaActual, 0, valor, valorOrden);
        ID2 = valor;
    }

    private async Task CargarPagina(int numeroPagina, int ID1, int ID2, string orden)
    {
        ParametrosPaginacion parametros = new()
            {
                NumeroPagina = numeroPagina,
                TamañoPagina = tamanoPagina,
                Orden = orden,
                Buscar = valorBusqueda,
                ID1 = ID1,
                ID2 = ID2
            };

        resOrg = await orgService.MostrarOrganismos(parametros);
        registrosActuales = resOrg.TotalRegistros;

        if(registrosActuales > tamanoPagina)
        {
            totalPaginas = (int)Math.Ceiling((double)registrosActuales / tamanoPagina);
        }
        else
        {
            totalPaginas = 1;
        }
        
        paginaActual = numeroPagina;
    }

    private async Task CargarOrganismosBuscados(ChangeEventArgs e)
    {
        try
        {
            valorBusqueda = e.Value.ToString();

            if (valorBusqueda != "")
            {
                await CargarPagina(paginaActual, 0, 0, valorOrden);
            }
            else
            {
                await CargarPagina(paginaActual, ID1, ID2, valorOrden);
            }
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine($"Error al realizar la solicitud: {ex.Message}");
            throw;
        }
    }

    // Handlers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private async Task HandlePageChanged(int newPage)
    {
        paginaActual = newPage;
        await CargarPagina(newPage, ID1, ID2, valorOrden);
    }

    // Modals mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private async Task ShowModal(int ID)
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Large,
                Position = ModalPosition.Middle
            };

        var parametros = new ModalParameters().Add(nameof(ModalOrganismo.idOrganismoEditar), ID);

        var modal = Modal.Show<ModalOrganismo>("Gestion Organismo", parametros, options);
        var resultado = await modal.Result;

        if (resultado.Confirmed)
        {
            if (resultado.Data.ToString() == "Ejecucion Correcta")
            {
                await CargarPagina(paginaActual, ID1, ID2, valorOrden);
            }
        }

    }

    private async Task ModalLookup(int id)
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium,
                Position = ModalPosition.Middle
            };

        var parametros = new ModalParameters().Add(nameof(ModalLookupOrganismo.idOrganismoKey), id);

        var modal = Modal.Show<ModalLookupOrganismo>("Cambiar estado Personal", parametros, options);
        var resultado = await modal.Result;

        if (resultado.Confirmed)
        {
            if (resultado.Data.ToString() == "Ejecucion Correcta")
            {
                await CargarPagina(paginaActual, ID1, ID2, valorOrden);
            }
        }
    }
}
