@inject IRepresentanteService representanteService;
@inject IEstadoRepresentanteService estadoRepresentanteService;
@inject IOrganismoService organismoService;
<style>
    :root
    {
        --color-inputs: #afafe7;
    }
</style>

<h5 class="tituloModalAgregar">@titulo</h5>
<br />

<EditForm Model="representante" OnValidSubmit="OnValidSubmit"> 

    <DataAnnotationsValidator></DataAnnotationsValidator> 

    <div class="contenedorInputs">

        <div class="parteInputsA">
        
            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <InputText type="text" maxlength="23" class="form-control" @bind-Value="representante.Nombres" placeholder="Agregar Representante" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.Nombres)"></ValidationMessage>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                        <InputText type="text" maxlength="8" class="form-control" @bind-Value="representante.Celular" placeholder="Agregar Celular" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.Celular)"></ValidationMessage>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                        <InputText type="email" maxlength="28" class="form-control" @bind-Value="representante.Email" placeholder="Agregar Email" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.Email)"></ValidationMessage>
                    </div>
                </div>              
            </div>

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-person-vcard-fill"></i></span>
                        <InputText type="text" maxlength="9" class="form-control" @bind-Value="representante.DUI" placeholder="Agregar DUI" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.DUI)"></ValidationMessage>
                    </div>
                </div>              
            </div>

        </div>

        <div class="parteInputsB">

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
                        <InputText type="text" maxlength="15" class="form-control" @bind-Value="representante.ComprobanteOIA" placeholder="Agregar Comprobante" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.ComprobanteOIA)"></ValidationMessage>
                    </div>
                </div>
                
            </div>

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-person-badge-fill"></i></span>
                        <InputText type="text" maxlength="23" class="form-control" @bind-Value="representante.Nickname" placeholder="Agregar Nickname" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.Nickname)"></ValidationMessage>
                    </div>
                </div>
                
            </div>

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-shield-lock-fill"></i></span>
                        <InputText type="text" maxlength="28" class="form-control" @bind-Value="representante.Contrasena" placeholder="Agregar Contraseña" style="border: 1px solid var(--color-inputs);"></InputText>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.Contrasena)"></ValidationMessage>
                    </div>
                </div>                
            </div>

            <div class="mb-3">
                <div class="apartadoInput">
                    <div class="input-group agrupacionInput">
                        <span style="background-color: var(--color-inputs); border: 1px solid var(--color-inputs); color: white;" class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill-gear"></i></span>
                        <InputSelect class="form-select" @bind-Value="representante.IdOrganismo" style="border: 1px solid var(--color-inputs);">
                            <option value="0">Seleccionar Organismo...</option>
                            @foreach (var item in listaOrganismo)
                            {
                                <option value="@item.IdOrganismo">@item.NombreOIA</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="errorInput">
                        <ValidationMessage For="@(()=> representante.IdOrganismo)"></ValidationMessage>
                    </div>
                </div>                
            </div>

            <input type="hidden" value="@representante.IdEstadoRepresentante" />

        </div>

    </div>

    <br />

    @if (idRepresentanteEditar == 0)
    {
        <button type="submit" class="btn btn-success botonEjecutar"><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;@btnTexto</button>

        <button class="btn btn-success botonTerminar" @onclick="@(() => FinishProcess())"><i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;Finalizar Registros</button>
    }
    else
    {
        <button type="submit" class="btn btn-success botonEjecutar"><i class="bi bi-check-circle-fill"></i>&nbsp;&nbsp;@btnTexto</button>
    }

    

 </EditForm> 

@code
{
    [Parameter]
    public int idRepresentanteEditar { get; set; } = 0;

    string titulo = string.Empty;
    string btnTexto = string.Empty;
    string txtOrganismoTexto = string.Empty;
    int idOrganismoTexto = 0;

    //----------------------------------------------------------------------------------

    RepresentanteDTO representante = new RepresentanteDTO();

    List<EstadoRepresentanteDTO> listaEstado = new List<EstadoRepresentanteDTO>();

    List<OrganismoDTO> listaOrganismo = new List<OrganismoDTO>();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    ParametrosPaginacion? pp;

    //----------------------------------------------------------------------------------

    protected override async Task OnInitializedAsync()
    {
        pp = new ParametrosPaginacion()
            {
                NumeroPagina = 1,
                TamañoPagina = sizeof(int),
                Orden = "Ascendente"
            };

        APIResponse<List<OrganismoDTO>> res = await organismoService.MostrarOrganismos(pp);

        if (idRepresentanteEditar != 0)
        {
            representante = await representanteService.BuscarRepresentante(idRepresentanteEditar);
            btnTexto = "Actualizar Registro";
            titulo = "Editar Representante";
        }
        else
        {
            btnTexto = "Agregar Registro";
            titulo = "Agregar Representante";
            representante.IdEstadoRepresentante = 1;
        }

        listaOrganismo = res.Resultado;
        listaEstado = await estadoRepresentanteService.MostrarEstadoRepresentante();

    }

    //----------------------------------------------------------------------------------

    private async Task OnValidSubmit()
    {
        string ValorDevuelto = "";

        if (idRepresentanteEditar == 0)
        {
            ValorDevuelto = await representanteService.CrearRepresentante(representante);

            representante = new RepresentanteDTO();

            representante.IdEstadoRepresentante = 1;

            StateHasChanged();
        }
        else
        {
            ValorDevuelto = await representanteService.EditarRepresentante(representante, idRepresentanteEditar);

            await BlazoredModal.CloseAsync(ModalResult.Ok(ValorDevuelto));
        }
    }

    private async Task FinishProcess()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok("Ejecucion Correcta"));
    }
}
