@page "/vistaRequisitosMenores"
@inject SweetAlertService Sweet;
@inject TituloService tituloService;
@inject IRequisitoMenorService requisitoService;
@inject IOrganismoService organismoService;
@inject IRepresentanteService representanteService;
@implements IAsyncDisposable;
@inject IHubRegistroService hubRegistroService;
@inject IHubActualizacionService hubActualizacionService;
@inject TooltipService tooltipService
@inject NotificationService NotificationService
@attribute [Authorize]


<section class="ContenedorGeneral">

    <h5 class="indice">Inicio > Administracion de Requisitos Menores</h5>

    <section class="ContenidoPrincipal">

        <div class="barra">

            <div class="opciones">

                @* Apartado de Opciones mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloOpciones">
                    <p>Opciones de los requisitos</p>
                </div>

                <div class="botonesOpciones">

                    <button class="informe"><i class="bi bi-file-earmark-plus"></i> Reporte</button>

                </div>

                <div class="tituloOpciones">
                    <p>Buscador</p>
                </div>

                <input type="text" @bind="valorBusqueda"  @oninput="CargarRequisitoBuscado" class="buscador" placeholder="Buscar Registro" />

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

            <div class="filtro">

                @* Apartado de Filtros mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloFiltro">
                    <p>Filtros para los requisitos</p>
                </div>

                <div class="contenidoFiltro">

                    <div class="espacioFiltro">

                        <h5>Filtrar por orden:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            <div class="contenCheck">
                                <input @onclick="@(() => OrdenarRequisitos("Ascendente"))" checked="@("Ascendente" == ordenSeleccionada)" type="checkbox" id="checkOrden1" name="checkOrden1" />
                                <label class="nombreCheck" for="checkOrden1">Ascendente</label>
                            </div>

                            <div class="contenCheck">
                                <input @onclick="@(() => OrdenarRequisitos("Descendente"))" checked="@("Descendente" == ordenSeleccionada)" type="checkbox" id="checkOrden2" name="checkOrden2" />
                                <label class="nombreCheck" for="checkOrden2">Descendente</label>
                            </div>

                        </div>

                    </div>
                    @*
                    <div class="espacioFiltro">

                        <h5>Filtrar por tipo:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2    

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="" />
                                <label class="nombreCheck" for="">Tipado 1</label>
                            </div>

                        </div>

                    </div>

                    <div class="espacioFiltro">

                        <h5>Filtrar por estado:</h5>

                        <div class="contenedorChecks">

                             apartado checks 1 

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="" />
                                <label class="nombreCheck" for="">Estado 1</label>
                            </div>

                        </div>

            </div>*@

                </div>

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

        </div>

        <div class="contenido">

            @* Apartado de Contenido mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            @if(resRequisito?.Resultado != null)
            {

                @foreach(var item in resRequisito.Resultado)
                {

                <div class="tarjeta">

                    <div class="tarjetaTitulos">

                        <div class="tituloA">
                            <p>@item.CodigoRequisito</p>
                        </div>

                        <div class="tituloB">
                            <p>@item.FechaRegistro</p>
                        </div>

                    </div>

                    <div class="tarjetaContenido">

                        <div class="perfil">

                            <div class="apartadoA">

                                <div class="texto">
                                    <div class="iconoTexto" @ref="@(elementRefs[$"{item.IdMenores}-tooltip0"])" @onmouseenter="@(() => ShowTooltip("Nombre OIA", $"{item.IdMenores}-tooltip0"))">
                                        <i class="bi bi-building-fill"></i>
                                    </div>
                                    <p>@item.Organismo?.NombreOIA</p>
                                </div>

                                <div class="texto">
                                    <div class="iconoTexto" @ref="@(elementRefs[$"{item.IdMenores}-tooltip1"])" @onmouseenter="@(() => ShowTooltip("Representante", $"{item.IdMenores}-tooltip1"))">
                                        <i class="bi bi-person-circle"></i>
                                    </div>
                                    <p>@item.Representante?.Nombres</p>
                                </div>

                                <div class="tituloChecks">
                                    <p>Apartado Checks</p>
                                </div>

                            </div>

                            <div class="apartadoB">

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip2"])" @onmouseenter="@(() => ShowTooltip("Factibilidad", $"{item.IdMenores}-tooltip2"))">
                                        <i class="bi bi-check-circle-fill"></i>
                                    </div>
                                    <input class="mtp" checked="@item.Factibilidad" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip3"])" @onmouseenter="@(() => ShowTooltip("Formularios Totales", $"{item.IdMenores}-tooltip3"))">
                                        <i class="bi bi-clipboard2-check-fill"></i>
                                    </div>
                                    <input checked="@item.TotalFormularios" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip4"])" @onmouseenter="@(() => ShowTooltip("Copia dui de propietario", $"{item.IdMenores}-tooltip4"))">
                                        <i class="bi bi-person-vcard-fill"></i>
                                    </div>
                                    <input checked="@item.CopiaDuiPropietario" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip5"])" @onmouseenter="@(() => ShowTooltip("Copia dui quien retira", $"{item.IdMenores}-tooltip5"))">
                                        <i class="bi bi-person-vcard"></i>
                                    </div>
                                    <input checked="@item.CopiaDuiRetiro" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip6"])" @onmouseenter="@(() => ShowTooltip("Copia tarjeta iva empresa", $"{item.IdMenores}-tooltip6"))">
                                        <i class="bi bi-credit-card-2-front-fill"></i>
                                    </div>
                                    <input checked="@item.CopiaTarjetaIvaEmpresa" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip7"])" @onmouseenter="@(() => ShowTooltip("Copia dui electricista", $"{item.IdMenores}-tooltip7"))">
                                        <i class="bi bi-person-vcard"></i>
                                    </div>
                                    <input checked="@item.CopiaDuiElectricista" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip8"])" @onmouseenter="@(() => ShowTooltip("Copia carnet electricista", $"{item.IdMenores}-tooltip8"))">
                                        <i class="bi bi-card-heading"></i>
                                    </div>
                                    <input checked="@item.CopiaCarnetElectricista" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip9"])" @onmouseenter="@(() => ShowTooltip("Cuadro de carga", $"{item.IdMenores}-tooltip9"))">
                                        <i class="bi bi-clipboard-plus-fill"></i>
                                    </div>
                                    <input checked="@item.CuadroDeCarga" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip10"])" @onmouseenter="@(() => ShowTooltip("Croquis de Ubicacion", $"{item.IdMenores}-tooltip10"))">
                                        <i class="bi bi-geo-alt-fill"></i>
                                    </div>
                                    <input checked="@item.CroquisDeUbicacion" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip11"])" @onmouseenter="@(() => ShowTooltip("Esquema Instalacion Electrica", $"{item.IdMenores}-tooltip11"))">
                                        <i class="bi bi-file-earmark-image-fill"></i>
                                    </div>
                                    <input checked="@item.EsquemaDeInstalacionElectrica" type="checkbox" id="" readonly />
                                </div>

                                <div class="checks">
                                    <div class="iconoCheck" @ref="@(elementRefs[$"{item.IdMenores}-tooltip12"])" @onmouseenter="@(() => ShowTooltip("Comprobante de pago", $"{item.IdMenores}-tooltip12"))">
                                        <i class="bi bi-pass-fill"></i>
                                    </div>
                                    <input checked="@item.ComprobanteDepago" type="checkbox" id="" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="extras">

                            <div class="textoExtra">
                                <div class="iconoExtra" @ref="@(elementRefs[$"{item.IdMenores}-tooltip13"])" @onmouseenter="@(() => ShowTooltip("Dui propietario (PDF)", $"{item.IdMenores}-tooltip13"))">
                                    <i class="bi bi-person-vcard-fill"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>duiPropietario.pdf</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra" @ref="@(elementRefs[$"{item.IdMenores}-tooltip14"])" @onmouseenter="@(() => ShowTooltip("Dui quien retira (PDF)", $"{item.IdMenores}-tooltip14"))">
                                    <i class="bi bi-person-vcard"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>duiCliente.pdf</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra" @ref="@(elementRefs[$"{item.IdMenores}-tooltip15"])" @onmouseenter="@(() => ShowTooltip("Dui Electricista (PDF)", $"{item.IdMenores}-tooltip15"))">
                                    <i class="bi bi-person-vcard"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>duiElectricista.pdf</p>
                                </div>
                            </div>

                            <div class="textoExtra">
                                <div class="iconoExtra" @ref="@(elementRefs[$"{item.IdMenores}-tooltip16"])" @onmouseenter="@(() => ShowTooltip("Carnet Electricista (PDF)", $"{item.IdMenores}-tooltip16"))">
                                    <i class="bi bi-card-heading"></i>
                                </div>
                                <div class="apartadoExtra">
                                    <p>carnetElectricista.pdf</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                }
            }
            else
            {
                <p>No se encontro resultados</p>
            }

            @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

        </div>

    </section>

    <section class="footer">

        <div class="paginacion">

            @* <PaginadoPersonal PaginaActual="@paginaActual"
            TotalPaginas="@totalPaginas"
            OnPageChanged="HandlePageChanged">
            </PaginadoPersonal> *@

        </div>

    </section>

</section>

@code
{
        // Objetos de modelos mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private APIResponse<List<RequisitoMenorDTO>>? resRequisito;
    private List<OrganismoDTO>? listaOrganismos;
    private List<RepresentanteDTO>? listaRepresentante;

    // Variables con valores cambiantes mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private int ID1 = 0;
    private int ID2 = 0;
    private string valorOrden = "Descendente";
    private string valorBusqueda = "";
    private string? ordenSeleccionada;
    private int? rangoSeleccionado;
    private int? estadoSeleccionado;

    // Variables para Paginacion mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private int paginaActual = 1;
    private int tamanoPagina = 6;
    private int registrosActuales;
    private int totalPaginas;

    // Modal mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    // Apartado Tooltips mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private Dictionary<string, ElementReference> elementRefs = new();

    void ShowTooltip(string content, string itemId)
    {
        if (elementRefs.ContainsKey(itemId))
        {
            var elementRef = elementRefs[itemId];
            var options = new TooltipOptions()
                {
                    Style = "background: var(--rz-secondary-light); color: var(--rz-white)",
                    Position = TooltipPosition.Left
                };
            tooltipService.Open(elementRef, content, options);
        }
    }

    // MetodoInicializador mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    protected override async Task OnInitializedAsync()
    {
        tituloService.AgregarTitulo("Administracion de Requisitos Menores");

        ParametrosPaginacion parametros = new()
            {
                NumeroPagina = 1,
                TamañoPagina = tamanoPagina,
                Orden = "Ascendente",
                Buscar = valorBusqueda,
                ID1 = ID1,
                ID2 = ID2
            };

        await CargarPagina(paginaActual, 0, 0, "Descendente");
        var rOrg = await organismoService.MostrarOrganismos(parametros);
        var rRep = await representanteService.MostrarRepresentante(parametros);

        listaOrganismos = rOrg.Resultado;
        listaRepresentante = rRep.Resultado;

        //--------------------------------------------------------------

        await StartRegistro();

        await StartEdicion();

    }

    // Metodos Generales mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private async Task OrdenarRequisitos(string valor)
    {
        if (ordenSeleccionada == valor)
        {
            ordenSeleccionada = null;
        }
        else
        {
            ordenSeleccionada = valor;
        }

        await CargarPagina(paginaActual, ID1, ID2, valor);
        valorOrden = valor;
    }

    private async Task CargarPagina(int numeroPagina, int ID1, int ID2, string orden)
    {
        ParametrosPaginacion parametros = new()
            {
                NumeroPagina = numeroPagina,
                TamañoPagina = tamanoPagina,
                Orden = orden,
                Buscar = valorBusqueda,
                ID1 = ID1,
                ID2 = ID2
            };

        resRequisito = await requisitoService.MostrarRequisitoMenor(parametros);
        registrosActuales = resRequisito.TotalRegistros;
        totalPaginas = (int)Math.Ceiling((double)registrosActuales / tamanoPagina);
        paginaActual = numeroPagina;
    }

    private async Task CargarRequisitoBuscado(ChangeEventArgs e)
    {
        try
        {
            valorBusqueda = e.Value.ToString();

            if (valorBusqueda != "")
            {
                await CargarPagina(paginaActual, 0, 0, valorOrden);
            }
            else
            {
                await CargarPagina(paginaActual, ID1, ID2, valorOrden);
            }
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine($"Error al realizar la solicitud: {ex.Message}");
            throw;
        }
    }

    // Handlers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private async Task HandlePageChanged(int newPage)
    {
        paginaActual = newPage;
        await CargarPagina(newPage, ID1, ID2, valorOrden);
    }

    // Metodos Notificaciones mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    //-----------------------------------------------------------|

    public async Task ShowRegistro(string message)
    {
        Console.WriteLine(message);

        await CargarPagina(paginaActual, ID1, ID2, valorOrden);

        await InvokeAsync(StateHasChanged);

        ShowNotification(new NotificationMessage
            {
                Severity = NotificationSeverity.Info,
                Summary = "Registro Exitoso",
                Detail = "Datos agregados correctamente",
                Duration = 4000,
                CloseOnClick = true,
                Payload = DateTime.Now
            });
    }

    public async Task StartRegistro()
    {
        hubRegistroService.OnRegisterReceived += ShowRegistro;
        await hubRegistroService.ConnectAsync();
    }

    //-----------------------------------------------------------|

    public async Task ShowEdicion(string message)
    {
        Console.WriteLine(message);

        await CargarPagina(paginaActual, ID1, ID2, valorOrden);

        await InvokeAsync(StateHasChanged);

        ShowNotification(new NotificationMessage
            {
                Severity = NotificationSeverity.Warning,
                Summary = "Registro Actualizado",
                Detail = "Datos editados correctamente",
                Duration = 4000,
                CloseOnClick = true,
                Payload = DateTime.Now
            });
    }

    public async Task StartEdicion()
    {
        hubActualizacionService.OnRegisterEdited += ShowEdicion;
        await hubActualizacionService.ConnectAsync();
    }

    //-----------------------------------------------------------|

    public async ValueTask DisposeAsync()
    {
        hubRegistroService.OnRegisterReceived -= ShowRegistro;
        await hubRegistroService.DisconnectAsync();

        hubActualizacionService.OnRegisterEdited -= ShowEdicion;
        await hubActualizacionService.DisconnectAsync();
    }
}