@page "/vistaReporte"
@inject SweetAlertService Sweet;
@inject TituloService tituloService;

<section class="ContenedorGeneral">

    <h5 class="indice">Inicio > Administracion de Organismos</h5>

    <section class="ContenidoPrincipal">

        <div class="barra">

            <div class="opciones">

                @* Apartado de Opciones mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloOpciones">
                    <p>Opciones para el reporte</p>
                </div>

                <div class="botonesOpciones">

                    <button class="informe"><i class="bi bi-file-earmark-plus"></i> Informe</button>

                </div>

                <div class="tituloOpciones">
                    <p>Buscador</p>
                </div>

                <input type="text" class="buscador" placeholder="Buscar Registro" />

                <div class="botonesFilter">

                    <button><i class="bi bi-exclamation-circle"></i></button>

                    <button><i class="bi bi-check-circle"></i></button>

                    <button><i class="bi bi-x-circle"></i></button>

                </div>

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

            <div class="filtro">

                @* Apartado de Filtros mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

                <div class="tituloFiltro">
                    <p>Filtros para el organismo</p>
                </div>

                <div class="contenidoFiltro">

                    <div class="espacioFiltro">

                        <h5>Filtrar por orden:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="checkOrden1" name="checkOrden1" />
                                <label class="nombreCheck" for="checkOrden1">Ascendente</label>
                            </div>

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="checkOrden2" name="checkOrden2" />
                                <label class="nombreCheck" for="checkOrden2">Descendente</label>
                            </div>

                        </div>

                    </div>

                    <div class="espacioFiltro">

                        <h5>Filtrar por tipo:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 2 *@

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="" />
                                <label class="nombreCheck" for="">Tipado 1</label>
                            </div>

                        </div>

                    </div>

                    <div class="espacioFiltro">

                        <h5>Filtrar por estado:</h5>

                        <div class="contenedorChecks">

                            @* apartado checks 1 *@

                            <div class="contenCheck">
                                <input checked="" type="checkbox" id="" />
                                <label class="nombreCheck" for="">Estado 1</label>
                            </div>

                        </div>

                    </div>

                </div>

                @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            </div>

        </div>

        <div class="contenido">

            @* Apartado de Contenido mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

            <div class="tarjeta">

                <div class="tarjetaTitulos">

                    <div class="tituloA">
                        <p>RMN-103224</p>
                    </div>

                    <div class="tituloB">
                        <button class="estadoIcon botonDetalles" @onclick="@(()=> ShowModal(0))"><i class="bi bi-card-text"></i> Detalles</button>
                    </div>

                </div>

                <div class="tarjetaContenido">

                    <div class="perfil">

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-building-fill"></i>
                            </div>
                            <p>Hola como estas</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <p>Ennove la roche posai</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <p>Celular pro max 12</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <p>Requisitos Minimos Extras</p>
                        </div>

                        <div class="tituloChecks">
                            <p>Apartado Fechas</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-building-fill"></i>
                            </div>
                            <p>@DateTime.Now</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <p>@DateTime.Now</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <p>@DateTime.Now</p>
                        </div>

                        <div class="texto">
                            <div class="iconoTexto">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <p>@DateTime.Now</p>
                        </div>

                    </div>

                    <div class="extras">

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-person-vcard-fill"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>DuiPropietario.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-person-vcard"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>DuiRetiro.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-person-vcard"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>DuiElectricista.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-card-heading"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>CarnetElectricista.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-map-fill"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>PlanosDiseñoMinimo.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-map"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>PlanosConstruccion.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-pass-fill"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>FacturaDeMateriales.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-patch-check-fill"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>Transformador.pdf</p>
                            </div>
                        </div>

                        <div class="textoExtra">
                            <div class="iconoExtra">
                                <i class="bi bi-map-fill"></i>
                            </div>
                            <div class="apartadoExtra">
                                <p>PlanosDiseñoMinimo.pdf</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            @* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm *@

        </div>

    </section>

    <section class="footer">

        <div class="paginacion">
            @*
            <PaginadoOrganismo PaginaActual="@paginaActual"
            TotalPaginas="@totalPaginas"
            OnPageChanged="HandlePageChanged">
            </PaginadoOrganismo> *@

        </div>

    </section>

</section>

@code 
{
    // Objetos de modelos mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|



    // Variables con valores cambiantes mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|



    // Variables para Paginacion mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|



    // Modal mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    // MetodoInicializador mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    protected override async Task OnInitializedAsync()
    {
        tituloService.AgregarTitulo("Administracion de Reportes");
    }

    // Metodos Generales mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|



    // Handlers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|



    // Modals mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm|

    private async Task ShowModal(int ID)
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium,
                Position = ModalPosition.Middle
            };

        var parametros = new ModalParameters().Add(nameof(ModalReporte.idReporte), ID);

        var modal = Modal.Show<ModalReporte>("Gestion Reporte", parametros, options);
        var resultado = await modal.Result;

        // if (resultado.Confirmed)
        // {
        //     if (resultado.Data.ToString() == "Ejecucion Correcta")
        //     {
        //         await CargarPagina(paginaActual, rango, estado, valorOrden);
        //     }
        // }

    }
}
